#root {
  border: 1px solid green;
}

.header {
  border: 1px solid gold;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
.user,
.titre {
  display: flex;
  align-items: center;
}

.dailyQuestContainer,
.scheduleConatiner,
.todoContainer {
  border: 1px solid fuchsia;
}
.dailyQuest {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 50ch;
  justify-content: space-between;
}

.dailyQuest > :nth-child(1) {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.task {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  border-radius: 20px;
}
.task:hover {
  opacity: 0.7;
}
.btns {
  display: flex;
  gap: 0.05em;
  font-size: 12px;
}

.navBar {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navBar > * {
  border: 1px solid blue;
  width: 25%;
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----------- add btn*/

.addBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButton {
  background-color: #007bff; /* Blue color for the button */
  color: white;
  border: none;
  border-top-left-radius: 1%;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 1%;
  border-bottom-left-radius: 40%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #0056b3;
}
