
.Home.container {
  display: flex;
  flex-direction: column;
}

.upper {

  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.asd{
  color: black;
  font-size: 1em;
  font-weight: 600;
}
.a{
  display: flex;
  justify-content: space-between;
}

.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  min-width: 10em;
}

.circle,
.circleb {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 10px solid #ddd; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  --rotation: calc(
    var(--percentage) * 3.6deg
  );
}

.circle::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: green;
  border-right-color: green;
  transform: rotate(var(--rotation));
  transform-origin: center;
}
.circleb::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: red;

  transform: rotate(var(--rotation));
  transform-origin: center;
}

.percentage-text {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  z-index: 1;
}

.circle-container p {
  font-size: 16px;
  color: #333;
}

.lower {
  flex: 1;
  padding: 20px;
  padding-top: 0;
  background-color: #fff;
  border-top: 2px solid #ccc;
}

.lower h3 {
  margin-bottom: 10px;
  color: red;
  text-align: center;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task {
  padding: 10px;
  border: 2px solid red;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: #ffe6e64f;
  color: black;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.shadow{
  border-right: 1px solid #f27e7e57;
}
.description{
  text-align: left;
}